parameters:
	ignoreErrors:
		-
			message: '#^Call to function is_null\(\) with ''regular\-text'' will always evaluate to false\.$#'
			identifier: function.impossibleType
			count: 1
			path: admin/options.php

		-
			message: '#^Parameter \#2 \$src of function wp_register_script expects non\-empty\-string\|false, '''' given\.$#'
			identifier: argument.type
			count: 1
			path: integrations/custom.php
